/* * CLASES GLOBALES ---------------------------------*/

[class^="box"] {
  border-radius: 8px;
  background-color: bisque;
}

.container-box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  justify-content: space-evenly;
  gap: 1.5rem;
}

/* *-------------------------------------------------------------------------- */
/* * 1.A -CONTENEDORES FLEXIBLES  ---------------------------------*/

.box {
  width: 300px;
  height: 300px;
}
.box-flexible {
  width: 50vw;
  height: 300px;
}

.box-flexible-2 {
  width: 100%;
  max-width: 960px;
  min-width: 280px;
  max-height: 480px;
  min-height: 280px;
}

/* *-------------------------------------------------------------------------- */
/** Multimedia Flexible ---------------------------------*/

img,
video,
iframe {
  max-width: 100%;
  height: auto;
}

.responsive-media {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /*  este es el numero de formato widescreen */
}

.responsive-media > * {
  position: absolute;
  width: 100%;
  height: 100%;
}
.aspect-ratio-16_9 {
  aspect-ratio: 16/9;
}

/* *-------------------------------------------------------------------------- */
/** MEDIA QUERIES ---------------------------------*/

@media print {
  @page {
    size: A3 landscape;
  }

  body {
    font-size: 12pt;
    color: red;
  }
}

@media screen and (prefers-reduced-motion: reduced) {
}

/* Para modificar el color de fondo  segun el color de tema del sistema del usuario */

@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: white;
  }
}
@media screen and (prefers-color-scheme: no-preference) /* valor por defecto */ {
  body {
    background-color: rgb(255, 255, 255);
  }
}

/* Media queries mas usadas ( tamaños de pantalla ) */

/* Mobile First */

@media screen and (min-width: 480px) {
  body {
    background-color: rgb(255, 255, 255);
  }
}
@media screen and (min-width: 1024px) {
  body {
    background-color: white;
  }
}

/* Desktop First */

@media screen and (max-width: 1024px) {
  body {
    color: rgb(0, 0, 0);
  }
}

/* MEDIA QUERIE RESPONSIVA */

.grid-resp-item {
  padding: 1rem;
  border: thin solid #333;
}

/* FEATURE QUERIES */

@supports not (display: grid) {
  body {
    background-color: #333;
    color: white;
  }
}

/* CONTAINER QUERIES */

.card {
  contain: layout inline-size style;
}
.card-container {
  width: 500px;
  margin: 0 auto;
  border: medium solid #333;
  padding: 1rem;
}

.card-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: 0 50%;
}

@container (min-width : 756px) {
  .card-container {
    display: flex;
    height: auto;
    width: 80%;
  }

  .card-container > * {
    width: 50%;
    flex-basis: 50%;
  }

  .card-container-text {
    margin-left: 1rem;
  }

  .card-container img {
    max-height: 300px;
  }
}

.fluid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.fluid-element {
  border: thin solid #333;
  margin: 4px;
}
